<div class="detail-card">
  <h1 class="detail-title">ログイン</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "ログイン状態を保持する" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン", class: "header-button" %>
    </div>
  <% end %>

  <div class="field" style="margin-top: 16px;">
    <p><%= link_to "新規登録はこちら", new_user_registration_path %></p>
    <p><%= link_to "パスワードをお忘れですか？", new_user_password_path %></p>
  </div>
</div>